@import "navbar.css";
@import "aboutus.css";
@import "blogs.css";
@import "footer.css";
@import "blogpost.css";

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
html{
    scroll-behavior: smooth;
}
#header {

    width:100%;
    height:100vh;
    background-image: url(../images/bk.jpg);
    background-size: cover;
    background-position: center;
    color: aliceblue;
    position: auto;
}
#header h1{

        height: 100vh; /* Full viewport height */
        display: flex;
        justify-content: center; /* Centers content horizontally */
        align-items: center; /* Centers content vertically */
        text-align: center;
        position: relative;
        z-index: 0;
      }



.cover {
    width: 100%;
    max-height: 75vh;
}

.destinations-container {
    margin: 5vh 20vw 0 20vw;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    text-align: center;
}

.destinations {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
}
.work img{
    width: 30%;
    border-radius: 10px;
    display: inline;
    width: 300px;
    height: auto;
    transition: box-shadow 0.3s ease; 
    margin-right: 20px; 

  }
  
 .work img:hover {
    box-shadow: 10px 10px 20px rgba(70, 130, 180, 0.3); /* Adds shadow on hover */
    transform: translateY(-10px); /* Moves the image 10px upwards */
  
   }

.caption {
    text-align: center;
    margin: 2vh 4vw 2vh 4vw;
    font-size: 1.25rem;
    display: flex;
    flex-flow: column;
    font-style: italic;
}

/*Extra small devices*/
@media screen and (min-width: 200px) and (max-width: 499px) {
    .destinations-container {
        justify-content: center;
        flex-wrap: wrap;
    }
 }

/*Small devices and Tablets*/
@media screen and (min-width: 500px) and (max-width: 767.98px) {
    .destinations-container {
        margin: 5vh 10vw 0 10vw;
    }
 }
 

